<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="GenericAppender" type="log4net.Appender.ConsoleAppender">
    
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="lab.service" />
      <acceptOnMatch value="false" />
    </filter>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="lab.consumer" />
      <acceptOnMatch value="false" />
    </filter>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="lab.webapi" />
      <acceptOnMatch value="false" />
    </filter>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Microsoft" />
      <acceptOnMatch value="false" />
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="GenericAppender -> %date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ServiceAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="lab.service -> %date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ConsumerAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="lab.consumer -> %date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="WebApiAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="lab.webapi -> %date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="MicrosoftAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="Microsoft -> %date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="GenericAppender" />
  </root>

  <logger name="lab.service">
    <level value="ALL" />
    <appender-ref ref="ServiceAppender" />
  </logger>

  <logger name="lab.consumer">
    <level value="ALL" />
    <appender-ref ref="ConsumerAppender" />
  </logger>

  <logger name="lab.webapi">
    <level value="ALL" />
    <appender-ref ref="WebApiAppender" />
  </logger>

  <logger name="Microsoft">
    <level value="WARN" />
    <appender-ref ref="MicrosoftAppender" />
  </logger>

</log4net>